body {
	color: #555 !important;
	background-color: #FDFDFD !important;
	background-image: url(../img/body_bg.jpg) !important;
	background-size: cover !important;
	font-size: 14px !important;
}

.portlet-title .caption {

	color: #EEE !important;
}

.portlet-title .caption i {

	color: #EEE !important;
}

.portlet .portlet-title {

	box-shadow: 1px 1px 2px 0 #555;
	background: rgba(33, 33, 33, 0.4) !important;
	border-left: 2px solid #333;
}

ul.page-sidebar-menu > li a i {

	color: #EEE !important;
}

.page-sidebar {

	background-color: rgba(33, 33, 33, 0.8) !important;
}

.header .nav li.dropdown .dropdown-toggle i {
	color: #EEE !important;
}