/***
Coming Soon Page
***/

.coming-soon-header {
	padding: 20px;
	margin-top: 80px;
}

.coming-soon-content {
	padding: 20px;
	margin-top: 10px;
}

.coming-soon-countdown {
	padding: 20px;
}  

.coming-soon-content h1,
.coming-soon-content p {
	color: #fff;
}

.coming-soon-content h1 {
	font-size: 42px;
	line-height: 50px;
	margin-bottom: 15px;	
	font-weight: 300;
}

.coming-soon-content p {
	font-size: 13px;
}


.coming-soon-content input {
	background: #fff !important;
}

.coming-soon-footer {
   text-align: left !important;
   font-size: 12px;
   color: #333;
   padding: 20px 20px 20px 20px;
}

/*Countdown*/
#defaultCountdown { 
	width: 100%;
	margin: 10px 0; 
	overflow: hidden;
}

#defaultCountdown span.countdown_row {
	overflow: hidden;
}

#defaultCountdown span.countdown_row span { 
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	margin-right: 2px;
}

#defaultCountdown span.countdown_row > span {
	float: left;
}

#defaultCountdown span.countdown_section {
	color: #fff;
	padding: 7px 15px !important;
	margin-bottom: 2px;
	font-weight: 300;
	background: url(../img/bg-white.png) repeat;
	text-align: center;
}

#defaultCountdown span.countdown_amount {
	display: inline-block;
	font-size: 38px !important;
	padding: 15px !important;
	font-weight: 300;
}

/*Responsive*/
@media (max-width: 1024px) {
	#defaultCountdown span.countdown_amount {
		padding: 10px;
	}
}

@media (max-width: 767px) {

	.coming-soon-header,
	.coming-soon-countdown, 
	.coming-soon-content,
	.coming-soon-footer {
		margin-top: 0px;
		padding: 10px;
	}  
}

@media (max-width: 320px) {

	.coming-soon-content .btn-subscribe span {
		display: none;
	}

}


/***
Lock Page
***/

.page-lock {
   top: 50%;
   left: 50%;
   position: absolute;
   margin-top: -140px;
   margin-left: -260px;
}

.page-lock .page-logo {
	margin-bottom: 15px;
}

.page-lock .page-body {	
   width: 500px;
   padding: 10px;
   background: url(../img/bg-white-lock.png) repeat;
}

.page-lock .page-body:after,
.page-lock .page-body:before {
	display: table;
	content: "";
	line-height: 0;
}

.page-lock .page-body:after {
	clear: both;
}

.page-lock .page-footer {
   margin-top: 10px;
   text-align: left !important;
   font-size: 12px;
   color: #333;
}

.page-lock img.page-lock-img {
	float: left;
	width: 200px;
	height: auto;
}

.page-lock .page-lock-info {
	float: right;
	width: 280px;
}

.page-lock .page-lock-info h1 {
	margin-top: -5px;
	font-weight: 300;
	color: #fff;
	font-size: 28px;
	line-height: 32px;
}

.page-lock .page-lock-info span {
	color: #eee;
	display: block;
	font-size: 14px;
	margin-top: -5px;
	margin-bottom: 10px;
} 

.page-lock .page-lock-info span em {
	color: #333;
	font-size: 14px;
	font-style: normal;
}

.page-lock .page-lock-info form {
	margin: 28px 0;
}

.page-lock .page-lock-info input {
	background: #fff;
}

.page-lock .relogin {
	margin-top: 10px;
}

.page-lock .relogin a {
	color: #e1e1e1;
}

/*Responsive*/
@media (max-width: 480px) {
	.page-lock {
	   top:0px;
	   width: 260px;
	   margin-top: 20px;
	   margin-left: -140px;
	}	

	.page-lock .page-body {	
		padding: 10px;
	    text-align: center;	
		width: 260px;
	}

	.page-lock img.page-lock-img {
		float: none !important;
		display: block;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 15px;
	}
	.page-lock .page-lock-info {
		float: none !important;
		width: 260px;		
		margin: 0 auto;
	}
	.page-lock .page-lock-info1 form {
		margin-bottom: 0;
	}	
}


/***
Login page
***/

/* logo page */
.login {
  background-color: #444 !important;
}

.login .logo {
  width: 247px;
  margin: 0 auto;   
  margin-top:60px;
  padding: 15px;
  text-align: center;
}  

.login .content {
  background-color:#fff; 
  width: 291px;
  margin: 0 auto; 
  margin-bottom: 0px;
  padding: 30px;  
  padding-top: 20px;  
  padding-bottom: 15px;  
}

.login .content h3 {
  color: #000;
}
.login .content h4  {
  color: #555;
}

.login .content p {
  color: #222;
}

.login .content .login-form,
.login .content .forget-form {
    padding: 0px;
    margin: 0px;
}

.login .content .m-wrap {
  width: 249px;
  border-left: 0 !important;
}

.login .content .input-icon {
  border-left: 2px solid #35aa47 !important;
}

.login .content .control-group {
  margin-bottom: 20px !important;
}

.login .content .input-icon .m-wrap {  
  margin: 0px !important;
}

.login .content .forget-form {
  display: none;
}

.login .content .register-form {
  display: none;
}

.login .content .form-title {
  font-weight: 300;
  margin-bottom: 25px;
}

.login .content .form-actions {
  background-color: #fff;
  clear: both;
  border: 0px;
  border-bottom: 1px solid #eee;
  padding: 0px 30px 25px 30px;
  margin-left: -30px;
  margin-right: -30px;
}

.login .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}  

.login .content .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.login .content .form-actions .checkbox {
  margin-top: 8px;
  display: inline-block;
}

.login .content .form-actions .btn {
  margin-top: 1px;
}

.login .content .forget-password {
  margin-top: 25px;
}

.login .content .create-account {
  border-top: 1px dotted #eee;
  padding-top: 10px;
  margin-top: 15px;
}

.login .content .create-account a {
  display: inline-block;
  margin-top: 5px;
}

.login .copyright {
  text-align: center;
  width: 250px;
  margin: 0 auto; 
  padding: 10px 10px 0 10px;
  color: #999;
  font-size: 11px;
}

@media (max-width: 480px) {
  /***
  Login page
  ***/
  .login .logo {
    margin-top:10px;
  }

  .login .content {
    padding: 30px; 
    width: 222px;
  }

  .login .content h3 {
    font-size: 22px;
  }

  .login .content .m-wrap {
      width: 180px;
  }

  .login .checkbox {
    font-size: 13px;
  }
}


/***
Inbox Page
***/
.inbox {
  margin-bottom: 20px;
}

.inbox .inbox {
  margin-bottom: 0px;
}

.inbox .tab-content {
  overflow: inherit;
}

.inbox .inbox-loading {
  display: none;
  font-size: 22px;
  font-weight: 300;
}

/*Imbox Menu*/
.inbox .inbox-nav {
  list-style: none;
  margin-left: 0 !important;
}

.inbox .inbox-nav li {
  position: relative;
}

.inbox .inbox-nav li a {
  color: #4d82a3;
  display: block;
  font-size: 15px;
  border-left: none;
  text-align: left !important;
  padding: 8px 14px;
  margin-bottom: 1px;
  background: #f4f9fd;
}

.inbox .inbox-nav li.active a,
.inbox .inbox-nav li.active:hover a {
  color: #fff;
  border-left: none;
  background: #169ef4 !important;
  text-decoration: none;
}

.inbox .inbox-nav li.active b {
  top: 0;
  right: -4px;
  width: 8px;
  height: 35px;
  position: absolute;
  display: inline-block;
  background: url(../img/inbox-nav-arrow-blue.png) no-repeat;
}

.inbox .inbox-nav li:hover a {
  color: #4d82a3;
  background: #eef4f7 !important;
  text-decoration: none;
}

.inbox .inbox-nav li.compose-btn a {
  color: #fff;
  text-shadow: none;
  text-align: center;
  margin-bottom: 18px;
  background: #35aa47;
}

.inbox .inbox-nav li.compose-btn i,
.inbox .inbox-nav li.compose-btn:hover i {
  top: 1px;
  color: #fff;
  font-size: 15px;
  position: relative;
  background: none !important;
}

.inbox .inbox-nav li.compose-btn a:hover {
  background-color: #1d943b !important;
}

/*Inbox Content*/
.inbox .inbox-header {
  overflow: hidden;
}

.inbox .inbox-header h1 {
  margin: 0;
  color: #666;
  margin-bottom: 10px;
}

.inbox tr {
  color: #777;
  font-size: 13px;
}

.inbox tr label {
  display: inline-block;
  margin-bottom: 0;
}

.inbox tr.unread td{
  font-weight: 600;
}

.inbox td i.icon-paper-clip {
  top: 2px;
  color: #d8e0e5;
  font-size: 17px;
  position: relative;
}

.inbox tr i.icon-star,
.inbox tr i.icon-trash {
  cursor: pointer;  
}

.inbox tr i.icon-star {
  color: #eceef0;
}

.inbox tr i.icon-star:hover {
  color: #fd7b12;
}

.inbox tr i.inbox-started {
  color: #fd7b12;  
}

.inbox .table th, 
.inbox .table td {
  border: none;
}

.inbox .table th {  
  background: #eef4f7;
  border-bottom: solid 5px #fff;
}

.inbox th.text-right {
  text-align: right;
}

.inbox th label.inbox-select-all {
  color: #828f97;
  font-size: 13px;
  padding: 1px 4px 0;
}

.inbox ul.inbox-nav {
  margin-bottom: 0;
}

.inbox ul.inbox-nav li {
  padding: 0;
}

.inbox ul.inbox-nav li span {
  color: #828f97;
  font-size: 12px;
  margin-right: 10px;
}

.inbox ul.inbox-nav i {
  color: #fff;
  padding: 1px 0;
  font-size: 15px;
  cursor: pointer; 
  background: #d0dde4 !important;
}

.inbox ul.inbox-nav i:hover {
  background: #169ef4 !important;
}

.inbox td.text-right {
  width: 100px;
  text-align: right;
}

.inbox td.inbox-small-cells {
  width: 10px;
}

.inbox .table-hover tbody tr:hover>td, 
.inbox .table-hover tbody tr:hover>th, 
.inbox .table-striped tbody>tr:nth-child(odd)>td, 
.inbox .table-striped tbody>tr:nth-child(odd)>th {
  background: #f8fbfd;  
  cursor: pointer;
}

.inbox .table-hover tbody tr:hover>td, 
.inbox .table-hover tbody tr:hover>th {
  background: #eef4f7;
}

/*Inbox Drafts*/
.inbox .inbox-drafts {
  padding: 8px 0;
  text-align: center;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}

/*Inbox View*/
.inbox-view-header {
  margin-bottom: 20px;
}

.inbox-view-header h1 {
  color: #666;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 0 !important;
}

.inbox-view-header h1 a {
  top: -2px;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  padding: 2px 7px;
  line-height: 16px;
  position: relative;
  background: #b0bcc4;
  display: inline-block;
}

.inbox-view-header h1 a:hover {
  background: #aab5bc;
  text-decoration: none;
}

.inbox-view-header i.icon-print {
  color: #94a4ab;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
  padding: 6px 8px !important;
  background: #edf1f4 !important;
}

.inbox-view-header i.icon-print:hover {
  background: #e7ebef !important;
}

.inbox-view-info {
  color: #666;  
  padding: 5px 0;
  margin-bottom: 10px;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}

.inbox-view-info strong {
  color: #666;
  margin: 0 10px 0 5px;
}

.inbox-view-info .inbox-info-btn {
  text-align: right;
}

.inbox-view-info .inbox-info-btn ul {
  text-align: left;
}

.inbox-view-info button {
  top: 2px;
  color: #94a4ab;
  font-size: 13px;
  margin-left: 4px; 
  padding: 3px 10px;
  position: relative;
  background: #edf1f4;
}

.inbox-view-info button:hover {
  color: #94a4ab;
  background: #e7ebef;
}

.inbox-view {
  color: #666;
  padding: 15px 0 0;
}

.inbox-view a {
  color: #169ce9;
}

.inbox-attached {
  line-height: 16px;
}

.inbox-attached a {
  margin: 0 2px;
}

.inbox-attached img {
  height: auto;
  max-width: 250px;
  margin-bottom: 5px;
}

.inbox-attached span {
  margin-right: 3px;
}

.inbox-attached strong {
  color: #555;
  display: block;
  font-size: 13px;
}

.inbox-attached .margin-bottom-25 {
  margin-bottom: 25px;
}

.inbox-attached .margin-bottom-15 {
  margin-bottom: 15px;
}


/*Inbox Compose*/
.inbox-compose {
  margin-top: 1px;
  border: solid 1px #eee;
}

.inbox-compose-btn {
  padding: 8px 4px;
  background: #f0f6fa;
}

.inbox-compose-attachment {
  padding: 8px 8px;
}

.inbox-compose-attachment .btn {
  padding: 4px 10px;
}

.inbox-compose-btn button {
  color: #fff;
  font-size: 14px;
  margin-left: 4px;
  padding: 4px 10px;
  background: #c0cfdd;
}

.inbox-compose-btn button:hover {
  color: #fff;
  background: #4d90fe;
}

.inbox-compose-btn button i {
  margin-right: 3px;
}

.inbox-compose .inbox-control-group {
  margin-bottom: 0;
  position: relative;
  border-bottom: solid 1px #eee;
}

.inbox-compose .controls {
  margin-left: 85px;
}

.inbox-compose .inbox-control-group > label {
  width: 80px;
  float: left;
  color: #979797;
  text-align: right;
}

.inbox-compose .controls > input {
  border: none !important;
}
.inbox-compose .controls-to {
  padding-right: 55px;
}

.inbox-compose .controls-cc {
  padding-right: 15px;
}

.inbox-compose .controls-bcc {
  padding-right: 15px;
}

.inbox-compose .tag {
  font-size: 12px;
  font-weight: 300 !important;
  margin-top: 6px;
  margin-left: 5px;
  color: #333;
  text-shadow: none !important;
  background-color: #eee;
  display: inline-block !important;
  padding: 3px !important;
}

.inbox-compose .tag .close {
  margin-top: -2px;
  display: inline-block !important;
  float: none !important;

}

.inbox-compose .tags {
  border: none !important;
  font-size: 13px;
  padding: 0px;
  margin-bottom: 0px;
  margin-right: 50px;
  box-shadow: none !important;
}

.inbox-compose .tags-hover {
  border: 1px solid #ddd;
  border: none !important;
  box-shadow: none !important;
  background: none !important;
}

.inbox-compose .tags input[type="text"],
.inbox-compose .tags input[type="text"]:focus {
  display: inline-block !important;
  border: none !important;
  font-size: 14px !important;
  vertical-align: top;  
  outline: 0;
  margin: 0;
  padding: 0;
  width: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.inbox-compose .inbox-control-group a.close {
  top: 13px;
  right: 10px;
  position: absolute;
}

.inbox-compose .mail-to .inbox-cc-bcc {
  display: inline-block;
  top: 7px;
  right: 10px;
  color: #979797;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
}

.inbox-compose .mail-to .inbox-bcc {
  margin-left: 5px;
}

.inbox-compose .mail-to inbox-cc:hover,
.inbox-compose .mail-to inbox-bcc:hover {
  color: #777;
}

.inbox-compose .wysihtml5 {
  padding: 0px !important;
  margin: 0px !important;
  border: 0 !important;
}

.inbox-compose .wysihtml5-sandbox {
  padding: 0px !important;
  margin: 0px !important;
  display: block !important;
  border: 0 !important;
  margin-top: 5px;
  width: 100% !important;
  border-left: none;
  border-right: none;
  border-color: #eee;
}

.inbox-compose .wysihtml5-toolbar {  
  border: 0;
  border-bottom: 1px solid #eee;
}

.inbox-compose .wysihtml5-toolbar > li {
  height: 34px;
  margin-right: 0;
  margin-bottom: 0;
}

.inbox-compose .wysihtml5-toolbar > li > a,
.inbox-compose .wysihtml5-toolbar > li > div > a {
  background: #fff;
}

.inbox-compose .wysihtml5-toolbar .dropdown.open .dropdown-toggle,
ul.wysihtml5-toolbar a.btn.wysihtml5-command-active {
  background: #eee !important;
}

@media (max-width: 480px) {

  .inbox-compose .inbox-control-group > label {
    margin-top: 7px;
  }

}


/***
Anout Us Page
***/

.meet-our-team h3 {
  margin-bottom: 0;
  padding: 0 10px 10px;
  background: #fcfcfc;
}

.meet-our-team small {
  display:block; 
  font-size:12px;
}

.meet-our-team .team-info {
  padding: 10px;
  overflow: hidden; 
  background: #fafafa;
}


/***
Promo Page
***/

.promo-page {
  padding-left: 0;
  padding-right: 0;
  min-height: 650px;
}

.promo-page h1, .promo-page h2 {
  font-size: 50px;
  line-height: 60px;
}

.promo-page .btn.xlarge {
  font-size: 22px;
  padding: 7px 25px;
  margin: 5px 0; 
}

.promo-page input.m-wrap {
  background: #fff;
}

/*page row options*/

.promo-page .block-transparent {
  min-height: 350px;
  padding: 30px 20px 30px 20px;
}

.promo-page .block-grey {
  min-height: 350px;
  padding: 30px 20px 30px 20px;
  background: #eeedf2;
}

.promo-page .block-red {
  min-height: 350px;
  padding: 30px 20px 30px 20px;
  background: #CCC;
}

.promo-page .block-footer {
  padding: 30px 20px 30px 20px;
  background: #eeedf2;
}


/***
News Page
***/

.news-page {
  padding-bottom: 20px;
}

.news-page h1 {
  margin-bottom: 20px;
}

.news-page h2 {
  font-size: 38.5px;
  margin-bottom: 20px;
}

.news-page .top-news {
  margin-top: 0;
}

/*News Feeds*/
.news-blocks {
  padding: 10px;
  margin-bottom: 10px;
  background: #faf6ea;
  border-top: solid 2px #faf6ea;
}

.news-blocks:hover {
  background: #fff;
  border-color: #78cff8;
  transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
}

.news-blocks h3 {
  margin: 0 0 5px 0;
  font-size: 23px;
  line-height: 32px;
}

.news-blocks h3 a {
  color: #000;
}

.news-blocks h3 a:hover {
  color: #78cff8;
  text-decoration: none;
}

.news-blocks p {
  overflow: hidden;
}

.news-blocks a.news-block-btn {
  color: #000;
  display: block;
  font-size: 14px;
  background: none;
  padding: 5px 10px 0;
  text-align: right;
  text-decoration: none;
}

.news-blocks a.news-block-btn i {
  margin-left: 3px;
}


.news-blocks a.news-block-btn:hover {
  text-decoration: none;
}

.news-blocks img.news-block-img {
  width: 70px;
  height: 70px;
  margin: 5px 10px 0 0;
}

.news-blocks .news-block-tags {
  margin-bottom: 8px;
}

.news-blocks .news-block-tags strong {
  margin-right: 10px;
  font-weight: 400;
}

.news-blocks .news-block-tags em {
  font-style: normal;
}

/*News Item Page*/
.news-item-page {
  padding: 10px 0;
}

.blog-tag-data ul {
  margin-bottom: 5px;
}

.blog-tag-data li {
  padding: 0;
}

.blog-tag-data li i {
  color: #78cff8;
}

.blog-tag-data li a {
  padding: 0;
  color: #555;
  margin-right: 8px;
}

.blog-tag-data {
  margin-bottom: 10px;
}

.blog-tag-data img {
  margin-bottom: 12px;
}

.blog-tag-data ul.blog-tags a {
  background: #eee;
  padding: 1px 4px;
  margin: 0 4px 4px 0;
  display: inline-block;
}

.blog-tag-data ul.blog-tags a:hover {
  background: #ddd;
  text-decoration: none;
}

.blog-tag-data .blog-tag-data-inner {
  text-align: right;
}


/***
Blog Page
***/

/*--Block Article--*/
.blog-page {
    padding-bottom: 20px;
}

.blog-page h1 {
  margin-bottom: 20px;
}

.blog-page h2 a {
  color: #000;
}

.blog-page h2 a:hover {
  color: #0d638f;
  text-decoration: none;
}

.blog-page hr {
  margin-top: 30px !important;
}

.blog-page .article-block {
  padding-bottom: 20px;
}

.blog-page .news-img img {
  margin-top: 9px;
}

.blog-page .blog-tag-data ul {
  margin-bottom: 5px;
}

.blog-page .blog-tag-data li {
  padding: 0;
}

.blog-page .blog-tag-data li i {
  color: #78cff8;
}

.blog-page .blog-tag-data li a {
  padding: 0;
  color: #555;
  margin-right: 8px;
}

.blog-page .blog-tag-data {
  margin-bottom: 10px;
}

.blog-page .blog-tag-data ul.blog-tags a {
  background: #eee;
  padding: 1px 4px;
  margin: 0 4px 4px 0;
  display: inline-block;
}

.blog-page .blog-tag-data ul.blog-tags a:hover {
  background: #ddd;
  text-decoration: none;
}

.blog-page .blog-tag-data .blog-tag-data-inner {
  text-align: right;
}

.blog-page .blog-tag-data img {
  margin-bottom: 12px;
}

.blog-page .blog-article {
  padding-bottom: 20px;
}

.blog-page .blog-article h2 {
  margin-top: 0;
}

/*--Block Sidebar--*/
.blog-sidebar h2 {
  font-size: 38.5px;
  margin-bottom: 20px;
}

/*Twitter block*/
.blog-twitter-block {
  padding: 5px;
  position: relative;
  margin-bottom: 10px;
  border-right: solid 2px #ddd;
}

.blog-twitter-block:hover {
  background: #fafafa;
  border-color: #35aa47;
}

.blog-twitter-block a {
  color: #4d90fe;
}

.blog-twitter-block p {
  margin-bottom: 0;
}

.blog-twitter-block span {
  color: #555;
  display: block;
  font-size: 12px;
}

.blog-twitter-block i.blog-twiiter-icon {
  color: #eee;
  right: 10px;
  bottom: 10px;
  font-size: 30px;
  position: absolute;
}

/***
Blog & News Item Page
***/
/*--Media Object--*/
.blog-page .media img {
    height: 54px;
    position: relative;
    top: 3px;
    width: 54px;
}

.blog-page h4.media-heading {
    position: relative;
}

.blog-page h4.media-heading span {
    color: #777777;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 3px;
}

.blog-page h4.media-heading span a {
    color: #78cff8;
}

/*Post Comment*/
.blog-page .post-comment .color-red {
  color: #f00;
}

/*For Responsive*/
@media (max-width: 768px) {
  .blog-page .blog-tag-data .blog-tag-data-inner {
    text-align: left;
  }  
}


/***
Search Page
***/
.search-forms {
  margin-bottom:25px;
  background:#f0f6fa;
}

/*search default*/
.search-default form {
  margin-bottom:0;
  padding:12px 14px;
}

.search-default .chat-form {
  margin:0;
  padding:0;
  background:none;
  overflow:hidden;
  position:relative;
}

.search-default .chat-form button {
  top:0;
  right:0;
  position:absolute;
}

.search-default .chat-form .input-cont {
  margin-right:108px;
}

.search-default .chat-form .input-cont input:focus{
  border: 1px solid #35aa47 !important;
}

.search-result {
  background:#fafafa;
}

.search-result .portfolio-text img {
  border-left:solid 3px #169ef4;
}

.search-result .portfolio-text h4 {
  color:#555d69;
  font-size:20px;
  font-weight:400;
  margin-top:10px;
}

.search-result .portfolio-info {
  padding:12px 20px;
}

.search-result .portfolio-info span {
  font-size:28px;
}

.search-result .portfolio-info span em {
  font-size:24px;
  font-style:normal;
  text-transform:none;
}

/*portfolio block*/
.portfolio-block {
  background:#f7f7f7;
  margin-bottom:15px;
}

.portfolio-block .span5 {
  overflow:hidden;
}

/*portfolio text*/
.portfolio-text {
  overflow:hidden;
}

.portfolio-text h4 {
}

.portfolio-text img {
  float:left;
  margin-right:15px;
}

.portfolio-text .portfolio-text-info {
  overflow:hidden;
}

/*portfolio button*/
.portfolio-btn a {
  display:block;
  padding:28px 0;
  background:#ddd !important;
}

.portfolio-btn a:hover {
  background:#1d943b !important;
}

.portfolio-btn span {
  color:#fff;
  font-size:22px;
  font-weight:200;  
}

/*portfolio info*/
.portfolio-info {
  float:left;
  color:#616161;
  font-size:12px;
  padding:12px 25px;
  margin-bottom:5px;
  text-transform:uppercase;
}

.portfolio-info span {
  color:#16a1f2;
  display:block;
  font-size:30px;
  margin-top:5px;
  font-weight:200;
  text-transform:uppercase;
}

.search-result .search-btn {
  text-align:center;
  background:#f3f3f3;
  padding:30px 10px 14px;
}

.search-result .search-btn p {
  color:#9c9c9c;
  font-size:22px;
}

.search-result .search-btn p em {
  color:#ffa801;
  font-size:34px;
  font-style:normal;
}

.search-result .search-btn a {
  font-size: 18px;
  padding: 6px 20px;
  text-transform: uppercase;
}
  
/*search classic*/
.search-classic {
  margin-bottom:30px;
}

.search-classic h4 {
  margin-bottom:3px;
}

.overflow-hidden {
  overflow:hidden;
}

/***
Search Page
***/
/*Booking Form*/
.booking-search {
  padding: 15px;
  margin-bottom: 10px;
  background: #fafafa;
}

.booking-search form {
  margin: 0;
}

.booking-search .booking-btn {
  font-size: 18px;
  padding: 9px 15px;
  min-width: 248px;
}

.booking-search input.m-wrap {
  background: #fff !important;
}

.booking-search .margin-right-20 {
  margin-right: 20px;
}

.booking-search .search-clearfix {
  overflow: hidden;
}

.booking-search .booking-option .controls {
  padding: 5px 0;
}

.booking-search .search-clearfix .control-group,
.booking-search .search-clearfix .input-append, 
.booking-search .search-clearfix .input-prepend {
  margin-bottom: 0;
}

.booking-search .margin-bottom-20 {
  margin-bottom: 20px;
}

/*Booking Offer*/
.booking-offer {
  position: relative;
}

.booking-offer .booking-offer-in {
  top: 15px;
  left: 15px;
  color: #fff;
  padding: 15px;
  position: absolute;
  background: url(../img/bg-opacity.png);
}

.booking-offer .booking-offer-in em {
  font-size: 17px;
  font-style: normal;
}

.booking-offer .booking-offer-in p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;
}

.booking-offer .booking-offer-in span {
  font-size: 26px;
  display: block;
  margin-bottom: 10px;
}

.booking-app {
  margin-bottom: 10px;
}

.booking-app a {
  color: #fff;
  padding: 15px;
  display: block;
  overflow: hidden;
  background: #78ccf8;  
}

.booking-app a:hover {
  background: #4d90fe;
  text-decoration: none;
}

.booking-app span {
  top: 3px;
  color: #fff;
  font-size: 20px;
  position: relative;
}

.booking-app i {
  color: #fff;
  font-size: 40px;
  line-height: 18px;
}

/*Booking Blocks (Content)*/
.booking-blocks {
  overflow: hidden;
}

.booking-blocks .booking-img {
  width: 140px;
  margin-right: 10px;
}

.booking-blocks .booking-img li {
  color: #777;
}

.booking-blocks .booking-img li i {
  color: #78ccf8;
  font-size: 12px;
  margin-right: 5px;
}

.booking-blocks .booking-img img {
  float: left;
  width: 140px;
  height: auto;
  margin: 3px 10px 10px 0;
}

.booking-blocks h2 {
  margin-top: 0;
  font-size: 20px;
  line-height: 20px;
}

.booking-blocks ul.inline li {
  padding: 0;
}

.booking-blocks ul.inline li i {
  color: #f8be2c;
  cursor: pointer;
  font-size: 16px;
}

.booking-blocks ul.inline li i:hover {
  color: #f8be2c;
  background: #c00;
}

/*Search Images*/
.search-images li {
  position: relative;
}

.search-images li a span {
  left: 0;
  bottom: 0;
  color: #eee;
  width: 100%;
  display: none;
  padding: 5px 0;
  text-align: left;
  position: absolute;
  background: url(../img/bg-opacity.png);  
}

.search-images li a:hover span {
  display: block;
}

.search-images li a span em {
  padding: 0 5px;
  font-style: normal;
}

/*Others*/
.space40 {
  height: 40px !important;
  clear: both;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

@media (max-width: 480px) {
  .booking-offer .booking-offer-in {
    right: 15px;
  }
}



/***
Pricing table
***/

.pricing-table {
  border: 3px solid transparent;
  padding: 10px;
  background-color: #f1f2f2;
}

.pricing-table:hover {
  border-color: #4b8df8;
}

.pricing-table h3 {
  margin-left: -2px;
  padding-left: 0px;
  font-size: 26px;
  margin-bottom: 5px;
  line-height: 26px;
  color: #111;
  margin-top: 0px;
}

.pricing-table .desc {
  margin-bottom: 10px;
  padding-bottom: 15px;
  color: #666;
  border-bottom: 1px solid #ddd;
}

.pricing-table ul {
  margin: 0px;
  margin-bottom: 15px;
  padding: 0px;
  list-style: none;
}

.pricing-table ul li {
  padding: 6px 0px;
  padding-left: 11px;
  font-size: 13px;
  line-height: 13px;
  color: #666;
}

.pricing-table ul li i {
  position: absolute;
  margin-right: 0px;
  margin-top: -2px;
  margin-left: -17px;
  color: #35aa47;
  font-size: 16px;
}

.pricing-table .rate {
  border-top: 1px solid #ddd;
  margin-bottom: 10px; 
  padding-top: 15px;
  clear: both;
}

.pricing-table.selected .rate {
  border-top-color: #fff;
}

.pricing-table .rate:before,
.pricing-table .rate:after {
  display: table;
  line-height: 0;
  content: "";
}
.pricing-table .rate:after {
  clear: both;
}

.pricing-table .rate .price {
  display: inline-block;
  float: left; 
  clear: both;
}

.pricing-table .rate .btn {
  margin-top: 3px;
  float: right;
  display: block;
}

.pricing-table .rate .price .currency {
  padding-top: 4px;
  float: left;
  width: 50px;
  text-align: right;
  font-size: 13px;
  line-height: 14px;
  font-weight: 300;
  margin-right: 2px;
}

.pricing-table .rate .price .amount {
  padding-top: 4px;  
  letter-spacing: -3px;
  float: left;
  text-align: right;
  font-size: 36px;
  line-height: 30px;
  font-weight: 300;
}

.pricing-table.selected {
  background-color: #4b8df8;
}

.pricing-table.selected:hover {
  border-color: #ddd;
}

.pricing-table.selected .desc {
  border-bottom-color: #fff;
}

.pricing-table.selected h3,
.pricing-table.selected .desc,
.pricing-table.selected ul li,
.pricing-table.selected ul li i,
.pricing-table.selected .rate {
  color: #fff;
}

/***
Pricing table(Alternative)
***/

.pricing-table2 {
  border: 3px solid transparent;
  padding: 10px;
  background-color: #f1f2f2;
}

.pricing-table2:hover {
  border-color: #35aa47;
}

.pricing-table2 h3 {
  margin-left: -2px;
  padding-left: 0px;
  font-size: 26px;
  margin-bottom: 5px;
  line-height: 26px;
  margin-top: 0px;
  color: #111;
}

.pricing-table2 .desc {
  margin-bottom: 10px;
  padding-bottom: 0px;
  color: #666;
}

.pricing-table2 ul {
  margin: 0px;
  margin-bottom: 0px;
  padding: 0px;
  list-style: none;
}

.pricing-table2 ul li {
  padding: 6px 0px;
  padding-left: 11px;
  font-size: 13px;
  line-height: 13px;
  color: #666;
}

.pricing-table2 ul li i {
  position: absolute;
  margin-right: 0px;
  margin-top: -2px;
  margin-left: -17px;
  color: #35aa47;
  font-size: 16px;
}

.pricing-table2 .rate { 
  margin-bottom: 10px; 
  margin-left: -18px;
  margin-right: -18px;
  background-color: #35aa47;
  color: #fff;
  clear: both;
}

.pricing-table2.selected .rate {
  border-top-color: #fff;
}

.pricing-table2 .rate:before,
.pricing-table2 .rate:after {
  display: table;
  line-height: 0;
  content: "";
}
.pricing-table2 .rate:after {
  clear: both;
}

.pricing-table2 .rate .price {
  display: inline-block;
  float: left; 
  clear: both;
}

.pricing-table2 .rate .btn {
  margin-top: 3px;
  float: right;
  display: block;
}

.pricing-table2 .rate .price .currency {
  padding-top: 4px;
  float: left;
  width: 50px;
  text-align: right;
  font-size: 13px;
  line-height: 14px;
  font-weight: 300;
}

.pricing-table2 .rate .price .amount {
  padding-top: 4px;
  float: left;
  text-align: right;
  font-size: 36px;
  line-height: 30px;
  font-weight: 300;
}

.pricing-table2.selected {
  background-color: #4b8df8;
}

.pricing-table2.selected .rate {
  background-color: #ffb848;
}

.pricing-table2.selected:hover {
  border-color: #ddd;
}

.pricing-table2.selected .desc {
  border-bottom-color: #fff;
}

.pricing-table2.selected h3,
.pricing-table2.selected .desc,
.pricing-table2.selected ul li,
.pricing-table2.selected ul li i,
.pricing-table2.selected .rate .currency,
.pricing-table2.selected .rate .amount {
  color: #fff !important;
}


/***
Pricing table(Alternative 2)
***/
.pricing {
  position:relative;
  margin-bottom:15px;
  border:3px solid #eee;
}
.pricing-active {
  border:3px solid #35aa47;
}
.pricing:hover {
  border:3px solid #35aa47;
}
.pricing:hover h4 {
  color:#35aa47;
}
.pricing-head {
  text-align:center;
}
.pricing-head h3,
.pricing-head h4 {
  margin:0;
  line-height:normal;
}
.pricing-head h3 span, 
.pricing-head h4 span {
  display:block;
  margin-top:5px;
  font-size:14px;
  font-style:italic;
}
.pricing-head h3 {
  font-weight: 300;
  color:#fafafa;
  padding:12px 0;
  font-size:27px;
  background:#35aa47;
  border-bottom:solid 1px #41b91c;
}
.pricing-head h4 {
  color:#bac39f;
  padding:5px 0;
  font-size:54px;
  font-weight:300;
  background:#fbfef2;
  border-bottom:solid 1px #f5f9e7;
}
.pricing-head-active h4 {
  color:#35aa47;
}
.pricing-head h4 i {
  top:-8px;
  font-size:28px;
  font-style:normal;
  position:relative;
}
.pricing-head h4 span {
  top:-10px;
  font-size:14px;
  font-style:normal;
  position:relative;
}
  
/*Pricing Content*/
.pricing-content li {
  color:#888;
  font-size:12px;
  padding:7px 15px;
  border-bottom:solid 1px #f5f9e7;
}
.pricing-content li i {
  top:2px;
  color:#35aa47;
  font-size:16px;
  margin-right:5px;
  position:relative;
}

/*Pricing Footer*/
.pricing-footer {
  color:#777;
  font-size:11px;
  line-height:17px;
  text-align:center;
  padding:0 20px 19px;
}

/*Priceing Active*/
.price-active,
.pricing:hover {
  z-index:9;
}
.price-active h4 {
  color:#35aa47;
}

.no-space-pricing .pricing:hover {
  -webkit-transition:box-shadow 0.3s ease-in-out;
  -moz-transition:box-shadow 0.3s ease-in-out;
  -o-transition:box-shadow 0.3s ease-in-out;
  transition:box-shadow 0.2s ease-in-out;
}
.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4 {
  color:#35aa47;
  padding:15px 0;
  font-size:80px;
  -webkit-transition:color 0.5s ease-in-out;
  -moz-transition:color 0.5s ease-in-out;
  -o-transition:color 0.5s ease-in-out;
  transition:color 0.5s ease-in-out;
}



/***
Invoice page
***/
.invoice table {
  margin:30px 0 30px;
}

.invoice .invoice-logo {
  margin-bottom:20px;
}

.invoice .invoice-logo p {
  padding:5px 0;
  font-size:26px;
  line-height:28px;
  text-align:right;
}

.invoice .invoice-logo p span {
  display:block;
  font-size:14px;
}

.invoice .invoice-logo-space {
  margin-bottom:15px;
}

.invoice .invoice-payment strong {
  margin-right:5px;
}

.invoice .invoice-block {
  text-align:right;
}

.invoice .invoice-block .amounts {
  margin-top: 20px;
  font-size: 14px;
}


/*** 
Email Template Page 
***/
.mail-template ul { 
  padding:0px;
  margin: 0px; 
  list-style:none;
}

.mail-template li {
  margin:0 5px;
  cursor:pointer;
  list-style:none;
  border:solid 2px #fff;
}

.mail-template li:hover {
  border:solid 2px #aaa;
}

.mail-template li a{
  display:block;
  padding:25px;
}

.mail-template li a:hover {
	text-decoration: none;
}

.mail-template li.color-black {
  background:#1f1f1f;
}

.mail-template li.color-darkblue {
  background:#1570a6;
}

.mail-template li.color-lightblue {
  background:#4aabf9;
}

.mail-template li.color-red {
  background:#eb4d41;
}

.mail-template li.color-green {
  background:#28b779;
}


/***
Profile Page
***/
.profile {
  position:relative;
}

.profile p {
  color:#636363;
  font-size:13px;
}

.profile p a {
  color:#169ef4;
}

.profile label {
  margin-top:10px;
}

.profile label:first-child {
  margin-top:0;
}

/*profile info*/
.profile-classic .span2 {
  position:relative;
}

.profile-classic .span2 a {
  top:0;
  right:0;
  margin:0;
  color:#fff;
  opacity:0.6;
  padding:0 9px;
  font-size:11px;
  background:#000;
  position:absolute;
  filter:alpha(opacity=60); /*for ie*/
}
.profile-classic .span2 img {
  margin-bottom:15px;
}

.profile-classic li {
  padding:8px 0;
  font-size:13px;
  border-top:solid 1px #f5f5f5;
}

.profile-classic li:first-child {
  border-top:none;
}

.profile-classic li span {
  color:#666;
  font-size:13px;
  margin-right:7px;
}

/*profile tabs*/
.profile .tabbable-custom-profile .nav-tabs > li > a {
  padding:6px 12px;
}


/*profile navigation*/
.profile ul.profile-nav {
  margin-bottom:30px;
}

.profile ul.profile-nav li {
  position:relative;
}

.profile ul.profile-nav li a {
  color:#557386;
  display:block;
  font-size:14px;
  padding:8px 10px;
  margin-bottom:1px;
  background:#f0f6fa;
  border-left:solid 2px #c4d5df;
}

.profile ul.profile-nav li a:hover {
  color:#169ef4;
  background:#ecf5fb;
  text-decoration:none;
  border-left:solid 2px #169ef4;
}

.profile ul.profile-nav li a.profile-edit {
  top:0;
  right:0;
  margin:0;
  color:#fff;
  opacity:0.6;
  border:none;
  padding:0 9px;
  font-size:11px;
  background:#000;
  position:absolute;
  filter:alpha(opacity=60); /*for ie*/
}

.profile ul.profile-nav li a.profile-edit:hover {
  text-decoration:underline;
}

.profile ul.profile-nav a span {
  top:0;
  right:0;
  color:#fff;
  font-size:20px; 
  padding:8px 13px;
  position:absolute;
  background:#169ef4;
}

.profile ul.profile-nav a:hover span {
  background:#0b94ea;
}

/*profile information*/
.profile-info h1 {
  color:#383839;
  font-size:24px;
  font-weight:400;
  margin:-11px 0 10px 0;
}

.profile-info ul {
  margin-bottom:15px;
}

.profile-info li {
  color:#6b6b6b;
  font-size:13px;
  margin-right:15px;
  margin-bottom:5px;
  padding:0 !important;
}

.profile-info li i {
  color:#b5c1c9;
  font-size:15px;
}

.profile-info li:hover i {
  color:#169ef4;
}

/*profile sales summary*/
.sale-summary ul {
  margin-top:-12px;
}
.sale-summary li {
  padding:10px 0;
  overflow:hidden;
  border-top:solid 1px #eee;
}

.sale-summary li:first-child {
  border-top:none;
}

.sale-summary li .sale-info {
  float:left;
  color:#646464;
  font-size:14px;
  text-transform:uppercase;
}

.sale-summary li .sale-num {
  float:right;
  color:#169ef4;
  font-size:20px;
  font-weight:300;
}

.sale-summary li span i {
  top:1px;
  width:13px;
  height:14px;
  margin-left:3px;
  position:relative;
  display:inline-block;
}

.sale-summary li i.icon-img-up {
  background:url(../img/icon-img-up.png) no-repeat !important;
}

.sale-summary li i.icon-img-down {
  background:url(../img/icon-img-down.png) no-repeat !important;
}

.sale-summary .portlet-title h4 {
  color:#383839;
  font-size:18px;
}

.sale-summary .portlet-title {
  border-color:#c9c9c9;
}

/*latest customers table*/
.profile .table-advance thead tr th {
  background:#f0f6fa;
}

.profile .table-bordered th, 
.profile .table-bordered td,
.profile .table-bordered {
  border-color:#e5eff6;
}

.profile .table-striped tbody > tr:nth-child(2n+1) > td, 
.profile .table-striped tbody > tr:nth-child(2n+1) > th {
  background:#fcfcfc;
}

.profile .table-hover tbody tr:hover td, 
.profile .table-hover tbody tr:hover th {
  background:#f5fafd;
}

/*add portfolio*/
.add-portfolio {
  overflow:hidden;
  margin-bottom:30px;
  background:#f0f6fa;
}

.add-portfolio .pull-left,
.add-portfolio .pull-right {
  padding:12px 14px;
}

.add-portfolio .pull-left {
  color:#555d69;
  font-size:20px;
}

.add-portfolio .pull-left span {
  top:8px;
  position:relative;
}

.add-portfolio .pull-right i {
  margin-left:5px;
}

/*portfolio block*/
.portfolio-block {
  background:#f7f7f7;
  margin-bottom:15px;
}

.portfolio-block .span5 {
  overflow:hidden;
}

/*portfolio text*/
.portfolio-text {
  overflow:hidden;
}

.portfolio-text h4 {
}

.portfolio-text img {
  float:left;
  margin-right:15px;
}

.portfolio-text .portfolio-text-info {
  overflow:hidden;
}

/*portfolio button*/
.portfolio-btn a {
  display:block;
  padding:28px 0;
  background:#ddd !important;
}

.portfolio-btn a:hover {
  background:#1d943b !important;
}

.portfolio-btn span {
  color:#fff;
  font-size:22px;
  font-weight:200;  
}

/*portfolio info*/
.portfolio-info {
  float:left;
  color:#616161;
  font-size:12px;
  padding:12px 25px;
  margin-bottom:5px;
  text-transform:uppercase;
}

.portfolio-info span {
  color:#16a1f2;
  display:block;
  font-size:30px;
  margin-top:5px;
  font-weight:200;
  text-transform:uppercase;
}

/*portfolio settings*/
.profile-settings {
  background:#fafafa;
  padding:15px 8px 0;
  margin-bottom:5px;
}

.profile-settings p {
  padding-left:5px;
  margin-bottom:3px;
}

.profile-settings .controls > .radio, 
.profile-settings .controls > .checkbox {
  font-size:12px;
  margin-top:2px !important;
}



/***
Error Pages
***/

.page-404 .number {
  letter-spacing: -10px;
  margin-top: 0px;
  line-height: 158px;
  font-size: 158px;
  font-weight: 300;
  color: #7bbbd6;
  text-align: right;
}

.page-500 .number {
  letter-spacing: -10px;
  margin-top: 0px;
  line-height: 158px;
  font-size: 158px;
  font-weight: 300;
  color: #ec8c8c;
  text-align: right;
}

.page-500 .details {
  padding-top: 20px;
}



/***
Timeline UI Base
***/
.timeline {
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
} 

/* The line */
.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: #E4E4E4;
  left: 20%;
  margin-left: -10px;
}

.timeline > li {
  position: relative;
}

/* The date/time */
.timeline > li .timeline-time {
  display: block;
  width: 15%;
  padding-right: 100px;
  position: absolute;
}

.timeline > li .timeline-time span {
  display: block;
  text-align: right;
}

.timeline > li .timeline-time span.date {
  font-size: 12px;
  color: #bdd0db;
  display: block;
  margin-bottom: 5px;
  font-weight: 300;
}

.timeline > li .timeline-time span.time {
  font-weight: 300;
  font-size: 36px;
}

/* Right content */

.timeline > li .timeline-body {
  margin: 0 0 15px 25%;
  color: #fff;
  padding: 10px;
  font-weight: 300;
  position: relative;
  border-radius: 5px;
}

.timeline > li .timeline-body h2 { 
  margin-top: 0px;
  padding: 0 0 5px 0;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  font-size: 24px;
}

.timeline > li .timeline-content { 
  font-size: 14px;
}

.ie8 .timeline > li .timeline-body h2 { 
  border-bottom: 1px solid #eee;
}

.timeline > li .timeline-body img.timeline-img { 
  width: 75px;
  height: 75px;
  margin: 5px 10px 0 0px;
}

.timeline > li .timeline-body img.pull-right {
  margin-left: 10px;
}


.timeline > li .timeline-body a.nav-link {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  font-size: 14px;
  padding: 0px;
  text-align: left;
  text-decoration: none;
}

.timeline > li .timeline-body a.nav-link:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.timeline > li .timeline-body .btn {
  margin-top: 10px;
}

/* The triangle */
.timeline > li .timeline-body:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #3594cb;
  border-width: 10px;
  top: 19px;
}

.timeline > li .timeline-content:after,
.timeline > li .timeline-content:before {
  display: table;
  line-height: 0;
  content: "";
}

.timeline > li .timeline-content:after {
  clear: both;
}

.timeline >li .timeline-footer:after,
.timeline >li .timeline-footer:before {
  content: "";
  display: table;
  line-height: 0;
}

.timeline >li .timeline-footer:after {
  clear: both;
}

/* The icons */
.timeline > li .timeline-icon {
  width: 40px;
  height: 40px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #fff;
  background: #aaa;  
  border-radius: 50%;
  box-shadow: 0 0 0 8px #ccc;
  text-align: center;
  left: 20%;
  top: 0;
  margin: 5px 0 0 -27px;
  padding-bottom: 3px; 
  padding-right: 1px;
  padding-left: 2px;
}

/* Red */
.timeline li.timeline-red .timeline-body:after {
  border-right-color: #e02222;
}

.timeline li.timeline-red .timeline-body {
   background: #e02222;
}

.timeline li.timeline-red .timeline-time span.time {
   color: #e02222; 
}

/* Yellow */
.timeline li.timeline-yellow .timeline-body:after {
  border-right-color: #ffb848;
}

.timeline li.timeline-yellow .timeline-body {
   background: #ffb848;
}

.timeline li.timeline-yellow .timeline-time span.time {
   color: #ffb848; 
}

/* Green */
.timeline li.timeline-green .timeline-body:after {
  border-right-color: #35aa47;
}

.timeline li.timeline-green .timeline-body {
   background: #35aa47;
}

.timeline li.timeline-green .timeline-time span.time {
   color: #35aa47; 
}

/* Blue */
.timeline li.timeline-blue .timeline-body:after {
  border-right-color: #4b8df8;
}

.timeline li.timeline-blue .timeline-body {
   background: #4b8df8;
}

.timeline li.timeline-blue .timeline-time span.time {
   color: #4b8df8; 
}

/* Purple */
.timeline li.timeline-purple .timeline-body:after {
  border-right-color: #852b99;
}

.timeline li.timeline-purple .timeline-body {
   background: #852b99;
}

.timeline li.timeline-purple .timeline-time span.time {
   color: #852b99; 
}

/* Grey */
.timeline li.timeline-grey .timeline-body:after {
  border-right-color: #555555;
}

.timeline li.timeline-grey .timeline-body {
   background: #555555;
}

.timeline li.timeline-grey .timeline-time span.time {
   color: #555555; 
}

@media (max-width: 767px) {  
  timeline > li .timeline-time span.time {
    font-size: 18px;
  }

  .timeline:before {
    display: none;
  }

  .timeline > li .timeline-time {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }

  .timeline > li .timeline-time span {
    text-align: left;
  }

  .timeline > li .timeline-body {
    margin: 0 0 30px 0;
    padding: 1em;
  }

  .timeline > li .timeline-body:after {
    right: auto;
    left: 20px;
    top: -20px;
  }

  .timeline > li .timeline-icon {
    position: relative;
    float: right;
    left: auto;
    margin: -55px 5px 0 0px;
  } 

  /*colors*/


  .timeline li.timeline-red .timeline-body:after {
    border-right-color: transparent;
    border-bottom-color: #e02222;
  }

  .timeline li.timeline-blue .timeline-body:after {
    border-right-color: transparent;
    border-bottom-color: #4b8df8;
  }

  .timeline li.timeline-green .timeline-body:after {
    border-right-color: transparent;
    border-bottom-color: #35aa47;
  }

  .timeline li.timeline-yellow .timeline-body:after {
    border-right-color: transparent;
    border-bottom-color: #ffb848;
  }

  .timeline li.timeline-purple .timeline-body:after {
    border-right-color: transparent;
    border-bottom-color: #852b99;
  }

  .timeline li.timeline-grey .timeline-body:after {
    border-right-color: transparent;
    border-bottom-color: #555555;
  }
}




/*!
 * FullCalendar v1.6.1 Stylesheet
 * Docs & License: http://arshaw.com/fullcalendar/
 * (c) 2013 Adam Shaw
 */


.fc {
  direction: ltr;
  text-align: left;
  }
  
.fc table {
  border-collapse: collapse;
  border-spacing: 0;
  }
  
html .fc,
.fc table {
  font-size: 1em;
  }
  
.fc td,
.fc th {
  padding: 0;
  vertical-align: top;
  }



/* Header
------------------------------------------------------------------------*/

.fc-header td {
  white-space: nowrap;
  }

.fc-header-left {
  width: 25%;
  text-align: left;
  }
  
.fc-header-center {
  text-align: center;
  }
  
.fc-header-right {
  width: 25%;
  text-align: right;
  }
  
.fc-header-title {
  display: inline-block;
  vertical-align: top;
  }
  
.fc-header-title h2 {
  margin-top: 0;
  white-space: nowrap;
  }
  
.fc .fc-header-space {
  padding-left: 10px;
  }
  
.fc-header .fc-button {
  margin-bottom: 1em;
  vertical-align: top;
  }
  
/* buttons edges butting together */

.fc-header .fc-button {
  margin-right: -1px;
  }
  
.fc-header .fc-corner-right,  /* non-theme */
.fc-header .ui-corner-right { /* theme */
  margin-right: 0; /* back to normal */
  }
  
/* button layering (for border precedence) */
  
.fc-header .fc-state-hover,
.fc-header .ui-state-hover {
  z-index: 2;
  }
  
.fc-header .fc-state-down {
  z-index: 3;
  }

.fc-header .fc-state-active,
.fc-header .ui-state-active {
  z-index: 4;
  }
  
  
  
/* Content
------------------------------------------------------------------------*/
  
.fc-content {
  clear: both;
  }
  
.fc-view {
  width: 100%; /* needed for view switching (when view is absolute) */
  overflow: hidden;
  }
  
  

/* Cell Styles
------------------------------------------------------------------------*/

.fc-widget-header,    /* <th>, usually */
.fc-widget-content {  /* <td>, usually */
  border: 1px solid #ddd;
  }
  
.fc-state-highlight { /* <td> today cell */ /* TODO: add .fc-today to <th> */
  background: #fcf8e3;
  }
  
.fc-cell-overlay { /* semi-transparent rectangle while dragging */
  background: #bce8f1;
  opacity: .3;
  filter: alpha(opacity=30); /* for IE */
  }
  


/* Buttons
------------------------------------------------------------------------*/

.fc-button {
  position: relative;
  display: inline-block;
  padding: 0 .6em;
  overflow: hidden;
  height: 1.9em;
  line-height: 1.9em;
  white-space: nowrap;
  cursor: pointer;
  }
  
.fc-state-default { /* non-theme */
  border: 1px solid;
  }

.fc-state-default.fc-corner-left { /* non-theme */
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  }

.fc-state-default.fc-corner-right { /* non-theme */
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  }

/*
  Our default prev/next buttons use HTML entities like &lsaquo; &rsaquo; &laquo; &raquo;
  and we'll try to make them look good cross-browser.
*/

.fc-text-arrow {
  margin: 0 .1em;
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
  vertical-align: baseline; /* for IE7 */
  }

.fc-button-prev .fc-text-arrow,
.fc-button-next .fc-text-arrow { /* for &lsaquo; &rsaquo; */
  font-weight: bold;
  }
  
/* icon (for jquery ui) */
  
.fc-button .fc-icon-wrap {
  position: relative;
  float: left;
  top: 50%;
  }
  
.fc-button .ui-icon {
  position: relative;
  float: left;
  margin-top: -50%;
  *margin-top: 0;
  *top: -50%;
  }
  
/*
  button states
  borrowed from twitter bootstrap (http://twitter.github.com/bootstrap/)
*/

.fc-state-default {
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  }

.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
  color: #333333;
  background-color: #e6e6e6;
  }

.fc-state-hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
  }

.fc-state-down,
.fc-state-active {
  background-color: #cccccc;
  background-image: none;
  outline: 0;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  }

.fc-state-disabled {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
  }

  

/* Global Event Styles
------------------------------------------------------------------------*/
   
.fc-event {
  border: 1px solid #3a87ad; /* default BORDER color */
  background-color: #3a87ad; /* default BACKGROUND color */
  color: #fff;               /* default TEXT color */
  font-size: .85em;
  cursor: default;
  }

a.fc-event {
  text-decoration: none;
  }
  
a.fc-event,
.fc-event-draggable {
  cursor: pointer;
  }
  
.fc-rtl .fc-event {
  text-align: right;
  }

.fc-event-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  }
  
.fc-event-time,
.fc-event-title {
  padding: 0 1px;
  }
  
.fc .ui-resizable-handle {
  display: block;
  position: absolute;
  z-index: 99999;
  overflow: hidden; /* hacky spaces (IE6/7) */
  font-size: 300%;  /* */
  line-height: 50%; /* */
  }
  
  
  
/* Horizontal Events
------------------------------------------------------------------------*/

.fc-event-hori {
  border-width: 1px 0;
  margin-bottom: 1px;
  }

.fc-ltr .fc-event-hori.fc-event-start,
.fc-rtl .fc-event-hori.fc-event-end {
  border-left-width: 1px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  }

.fc-ltr .fc-event-hori.fc-event-end,
.fc-rtl .fc-event-hori.fc-event-start {
  border-right-width: 1px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  }
  
/* resizable */
  
.fc-event-hori .ui-resizable-e {
  top: 0           !important; /* importants override pre jquery ui 1.7 styles */
  right: -3px      !important;
  width: 7px       !important;
  height: 100%     !important;
  cursor: e-resize;
  }
  
.fc-event-hori .ui-resizable-w {
  top: 0           !important;
  left: -3px       !important;
  width: 7px       !important;
  height: 100%     !important;
  cursor: w-resize;
  }
  
.fc-event-hori .ui-resizable-handle {
  _padding-bottom: 14px; /* IE6 had 0 height */
  }
  
  
  
/* Reusable Separate-border Table
------------------------------------------------------------*/

table.fc-border-separate {
  border-collapse: separate;
  }
  
.fc-border-separate th,
.fc-border-separate td {
  border-width: 1px 0 0 1px;
  }
  
.fc-border-separate th.fc-last,
.fc-border-separate td.fc-last {
  border-right-width: 1px;
  }
  
.fc-border-separate tr.fc-last th,
.fc-border-separate tr.fc-last td {
  border-bottom-width: 1px;
  }
  
.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
  border-top-width: 0;
  }
  
  

/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/

.fc-grid th {
  text-align: center;
  }

.fc .fc-week-number {
  width: 22px;
  text-align: center;
  }

.fc .fc-week-number div {
  padding: 0 2px;
  }
  
.fc-grid .fc-day-number {
  float: right;
  padding: 0 2px;
  }
  
.fc-grid .fc-other-month .fc-day-number {
  opacity: 0.3;
  filter: alpha(opacity=30); /* for IE */
  /* opacity with small font can sometimes look too faded
     might want to set the 'color' property instead
     making day-numbers bold also fixes the problem */
  }
  
.fc-grid .fc-day-content {
  clear: both;
  padding: 2px 2px 1px; /* distance between events and day edges */
  }
  
/* event styles */
  
.fc-grid .fc-event-time {
  font-weight: bold;
  }
  
/* right-to-left */
  
.fc-rtl .fc-grid .fc-day-number {
  float: left;
  }
  
.fc-rtl .fc-grid .fc-event-time {
  float: right;
  }
  
  

/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/

.fc-agenda table {
  border-collapse: separate;
  }
  
.fc-agenda-days th {
  text-align: center;
  }
  
.fc-agenda .fc-agenda-axis {
  width: 50px;
  padding: 0 4px;
  vertical-align: middle;
  text-align: right;
  white-space: nowrap;
  font-weight: normal;
  }

.fc-agenda .fc-week-number {
  font-weight: bold;
  }
  
.fc-agenda .fc-day-content {
  padding: 2px 2px 1px;
  }
  
/* make axis border take precedence */
  
.fc-agenda-days .fc-agenda-axis {
  border-right-width: 1px;
  }
  
.fc-agenda-days .fc-col0 {
  border-left-width: 0;
  }
  
/* all-day area */
  
.fc-agenda-allday th {
  border-width: 0 1px;
  }
  
.fc-agenda-allday .fc-day-content {
  min-height: 34px; /* TODO: doesnt work well in quirksmode */
  _height: 34px;
  }
  
/* divider (between all-day and slots) */
  
.fc-agenda-divider-inner {
  height: 2px;
  overflow: hidden;
  }
  
.fc-widget-header .fc-agenda-divider-inner {
  background: #eee;
  }
  
/* slot rows */
  
.fc-agenda-slots th {
  border-width: 1px 1px 0;
  }
  
.fc-agenda-slots td {
  border-width: 1px 0 0;
  background: none;
  }
  
.fc-agenda-slots td div {
  height: 20px;
  }
  
.fc-agenda-slots tr.fc-slot0 th,
.fc-agenda-slots tr.fc-slot0 td {
  border-top-width: 0;
  }

.fc-agenda-slots tr.fc-minor th,
.fc-agenda-slots tr.fc-minor td {
  border-top-style: dotted;
  }
  
.fc-agenda-slots tr.fc-minor th.ui-widget-header {
  *border-top-style: solid; /* doesn't work with background in IE6/7 */
  }
  


/* Vertical Events
------------------------------------------------------------------------*/

.fc-event-vert {
  border-width: 0 1px;
  }

.fc-event-vert.fc-event-start {
  border-top-width: 1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  }

.fc-event-vert.fc-event-end {
  border-bottom-width: 1px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  }
  
.fc-event-vert .fc-event-time {
  white-space: nowrap;
  font-size: 10px;
  }

.fc-event-vert .fc-event-inner {
  position: relative;
  z-index: 2;
  }
  
.fc-event-vert .fc-event-bg { /* makes the event lighter w/ a semi-transparent overlay  */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: .25;
  filter: alpha(opacity=25);
  }
  
.fc .ui-draggable-dragging .fc-event-bg, /* TODO: something nicer like .fc-opacity */
.fc-select-helper .fc-event-bg {
  display: none\9; /* for IE6/7/8. nested opacity filters while dragging don't work */
  }
  
/* resizable */
  
.fc-event-vert .ui-resizable-s {
  bottom: 0        !important; /* importants override pre jquery ui 1.7 styles */
  width: 100%      !important;
  height: 8px      !important;
  overflow: hidden !important;
  line-height: 8px !important;
  font-size: 11px  !important;
  font-family: monospace;
  text-align: center;
  cursor: s-resize;
  }
  
.fc-agenda .ui-resizable-resizing { /* TODO: better selector */
  _overflow: hidden;
  }
  
  
