@media print {

	.header {
		display: none;
	}

	.page-sidebar {
		display: none;
	}

	.color-panel {
		display: none;
	}

	.hidden-print {
		display: none;
	}

	.footer {
		display: none;
	}



	table { page-break-inside:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    thead { display:table-header-group }
    tfoot { display:table-footer-group }


	.btn-group {
		display: none;
	}

	.search {
		display: none !important;
	}

	.inventory tr th:last-child, .inventory tr th:nth-child(6), .inventory tr td:nth-child(7), .inventory tr td:nth-child(6) {
		display: none;
	}


	.employees_table tr th:nth-child(1), .employees_table tr th:nth-child(7), .employees_table tr th:nth-child(8), .employees_table tr td:nth-child(1), .employees_table tr td:nth-child(7), .employees_table tr td:nth-child(8) {
		display: none;
	}


	.clients tr th:nth-child(6), .clients tr td:nth-child(6) {
		display: none;
	}  


	.invoices tr th:nth-child(8), .invoices tr td:nth-child(8) {
		display: none;
	}


	.recurring_invoices tr th:nth-child(7), .recurring_invoices tr td:nth-child(7) {
		display: none;
	}


	.profile-info, .client_files {

		display: none;
	}

	#gmap_geocoding_address {

		width: 100% !important;
	}

	.btn {
		display: none !important;
	}

	.portlet-title .tools {
		display: none !important;
	}

	.email_widget_wrapper {
		display: none !important;
	}

	#data_table_length {
		display: none !important;
	}

	#add_item_qty {
		display: none !important;
	}

	.product-info table.inline-table td {
		padding: 0;
	}

	.client_info_table .image {
		display: none !important;
	}

	#client_gmap {
		display: none !important;
	}

	.client_map_locations {
		display: none !important;
	}

	.print_hidden {
		display: none !important;
	}

	.account_settings_nav {
		display: none !important;
	}

	.billing {
		display: none !important;
	}

	#billing_history_date_select {
		display: none !important;
	}

	#billing_history_modal hr {
		display: none !important;
	}


	/* tasks */
	.dd-list li {
		-webkit-transition: all 0 ease 0;
		-moz-transition: all 0 ease 0;
		-ms-transition: all 0 ease 0;
		-o-transition: all 0 ease 0;
		transition: all 0 ease 0;
	}

	#tasks_list .dd-list li.completed {
		opacity: 1 !important;
	}
}