
@font-face {
  font-family: 'Digital';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/digital.ttf);
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);